<html>
    <head>

    </head>
    <body>
        <h3>Profile Page</h3>
        <h1>Hello <%=user.name%></h1>

        <ul>
            <% user.skills.forEach((item)=>{ %>

                <li>
                    <%=item%>
                </li>
                <% }) %>
        </ul>
    </body>
</html>